
<section>
    @for (var i = 0; i < 20; i++)
    {
        <div class="row">
            <div>
                <i class="fas fa-book" aria-hidden="true"></i>
                <i class="fas fa-bath" aria-hidden="true"></i>
                <i class="fas fa-shower" aria-hidden="true"></i>
                <i class="fas fa-thermometer-half" aria-hidden="true"></i>
                <i class="fas fa-balance-scale" aria-hidden="true"></i>
                <i class="fas fa-battery-half" aria-hidden="true"></i>
                <i class="fas fa-bell" aria-hidden="true"></i>
                <i class="fas fa-bicycle" aria-hidden="true"></i>
                <i class="fas fa-bolt" aria-hidden="true"></i>
                <i class="fas fa-bullhorn" aria-hidden="true"></i>
                <i class="fas fa-comment-dots" aria-hidden="true"></i>
                <i class="fas fa-comments" aria-hidden="true"></i>
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <i class="fas fa-gift" aria-hidden="true"></i>
                <i class="fas fa-glass-cheers" aria-hidden="true"></i>
                <i class="fas fa-globe" aria-hidden="true"></i>
                <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <i class="fas fa-hourglass-end" aria-hidden="true"></i>
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fas fa-book" aria-hidden="true"></i>
                <i class="fas fa-bath" aria-hidden="true"></i>
                <i class="fas fa-shower" aria-hidden="true"></i>
                <i class="fas fa-thermometer-half" aria-hidden="true"></i>
                <i class="fas fa-balance-scale" aria-hidden="true"></i>
                <i class="fas fa-battery-half" aria-hidden="true"></i>
                <i class="fas fa-bell" aria-hidden="true"></i>
                <i class="fas fa-bicycle" aria-hidden="true"></i>
                <i class="fas fa-bolt" aria-hidden="true"></i>
                <i class="fas fa-bullhorn" aria-hidden="true"></i>
                <i class="fas fa-comment-dots" aria-hidden="true"></i>
                <i class="fas fa-comments" aria-hidden="true"></i>
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <i class="fas fa-gift" aria-hidden="true"></i>
                <i class="fas fa-glass-cheers" aria-hidden="true"></i>
                <i class="fas fa-globe" aria-hidden="true"></i>
                <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <i class="fas fa-hourglass-end" aria-hidden="true"></i>
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fas fa-book" aria-hidden="true"></i>
                <i class="fas fa-bath" aria-hidden="true"></i>
                <i class="fas fa-shower" aria-hidden="true"></i>
                <i class="fas fa-thermometer-half" aria-hidden="true"></i>
                <i class="fas fa-balance-scale" aria-hidden="true"></i>
                <i class="fas fa-battery-half" aria-hidden="true"></i>
                <i class="fas fa-bell" aria-hidden="true"></i>
                <i class="fas fa-bicycle" aria-hidden="true"></i>
                <i class="fas fa-bolt" aria-hidden="true"></i>
                <i class="fas fa-bullhorn" aria-hidden="true"></i>
                <i class="fas fa-comment-dots" aria-hidden="true"></i>
                <i class="fas fa-comments" aria-hidden="true"></i>
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <i class="fas fa-gift" aria-hidden="true"></i>
                <i class="fas fa-glass-cheers" aria-hidden="true"></i>
                <i class="fas fa-globe" aria-hidden="true"></i>
                <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <i class="fas fa-hourglass-end" aria-hidden="true"></i>
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
    }
</section>