@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bgbody">
        <div class="top-row px-4 justify-content-center">
            <Clock MostraData=true />
        </div>

        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
