@page "/about"

<PageTitle>About Me</PageTitle>

<h3 class="mytitle" style="color:#ff6493;">About me</h3>
<div class="row mb-1">
    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/CSharp.png" Title="C# Programming">
            Uso quotidianamente il linguaggio di programmazione C# per costruire websites e web applications.
            Il linguaggio C# mi permette di scrivere codice in modo veloce, pulito e manutenibile.
            Inoltre, conosco molto bene l'ecosistema .NET in cui il C# è elemento imprescindibile.
        </MyCardAbout>
    </div>

    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/SQLDatabase.png" Title="Database Development">
            Lo sviluppo di databases è una operazione critica in molti progetti. 
            Conosco molto bene lo sviluppo in linguaggio SQL, spaziando dal design di una base dati fino alla scrittura di query e procedure.
            Sono inoltre capace di gestire databases in modalità code-first tramite l'utilizzo della tecnologia Entity Framework.
        </MyCardAbout>
    </div>

    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/AspNetBlazor.png" Title="ASP.NET Core + Blazor">
            Per lo sviluppo di web application utilizzo modelli e framework di comprovata esperienza.
            Molti progetti, ad esempio, vengono costruiti con tecnologia ASP.NET e col suo nuovo modello tecnologico BLAZOR.
            Nella sezione Portfolio (in fase di costruzione) si potranno vedere alcuni esempi.
        </MyCardAbout>
    </div>
</div>

<div class="row mb-1">
    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/Azure.png" Title="Azure DevOps">
            La tecnologia Azure è l'ultima più recente acquisizione nel mio bagaglio tecnico.
            Sto sperimentando l'hosting sul cloud sicuro Azure sia per web application che per web API.
        </MyCardAbout>
    </div>

    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/HTML5CSS3JS.png" Title="Front End Core Languages">
            HTML, CSS and JavaScript sono tecnologie imprescindibili per la costruizione di front ends e websites responsivi.
            Le utilizzo quotidianamente nei progetti per la creazione, appunto, delle UI per l'utente.
        </MyCardAbout>
    </div>

    <div class="col-md-4">
        <MyCardAbout ImgSrc="assets/img/skillsicons/Bootstrap.png" Title="Bootstrap Front End Design">
            Bootstrap è la più recente tecnologia che permette di migliorare il "look and feel" di una UI.
            Utilizzo il framework Bootstrap per apportare alle web applications un design più attraente e responsivo.
        </MyCardAbout>
    </div>
</div>

@code {
}
