@page "/contact"

<PageTitle>Contact</PageTitle>

<h3 class="mytitle" style="color:#dc00d4;">My Contacts</h3>


    <div class="container  mt-5 mb-5">
      <div class="row m-0">
        <div class="col-md-3 bg-custom p-0 d-flex text-center  justify-content-center flex-column display-none">
          <h3 class="mb-2">Contact Info</h3>
          <div class="info">
            <ul>
              <li>320,US</li>
              <li>Admin@w3hubs.com</li>
              <li>022-250-000</li>
            </ul>
            <div class="social-icons">
            </div>
          </div>
        </div>
        <div class="col-md-8 p-0 bg-danger pt-4 pb-4" >
        @*<h3 style="padding-left: 30px;">Send a message</h3>*@
          
          <form class="w-100 p-4" action="#">
              <div class="row">
                  <h3>Send a messsage</h3>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Email" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea  class="form-control" id="exampleFormControlInput2" placeholder="Message" required rows="3"></textarea>
                </div>
               
              </div>
            </div>
            <button type="button" class="btn btn-custom btn-lg btn-block mt-3">Send Now</button>
          </form>
        </div>
        <div class="col-md-1 bg-white display-none ">
          <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </div>
    </div>


    <hr />

<!-- Facebook -->
<i class="fab fa-facebook-f"></i>

<!-- Twitter -->
<i class="fab fa-twitter"></i>

<!-- Google -->
<i class="fab fa-google"></i>

<!-- Instagram -->
<i class="fab fa-instagram"></i>

<!-- Linkedin -->
<i class="fab fa-linkedin-in"></i>

<!-- Pinterest -->
<i class="fab fa-pinterest"></i>

<!-- Vkontakte -->
<i class="fab fa-vk"></i>

<!-- Stack overflow -->
<i class="fab fa-stack-overflow"></i>

<!-- Youtube -->
<i class="fab fa-youtube"></i>

<!-- Slack -->
<i class="fab fa-slack-hash"></i>

<!-- Github -->
<i class="fab fa-github"></i>

<!-- Dribbble -->
<i class="fab fa-dribbble"></i>

<!-- Reddit -->
<i class="fab fa-reddit-alien"></i>

<!-- Whatsapp -->
<i class="fab fa-whatsapp"></i>


@code {

}
