@page "/testinputs"

<PageTitle>Test inputs</PageTitle>

<h3>Test Inputs</h3>

<div class="container">
    <TextInput LalbelText="Nome" BackgroundColor="#1d2b3a" TextColor="#fff"/>
    <TextInput LalbelText="Cognome" BackgroundColor="#1d2b3a" TextColor="#fff"/>
    <TextInput LalbelText="Nickname" BackgroundColor="#b3b6b7" TextColor="#3b8dcf"/>
</div>





@code {

}
